.navbar, .navbar-brand {
    background-color: #CF4D6F;
}

.navbar-menu {
    background-color: #CF4D6F;
}

.link, span {
    color: #FFFD82;
}

.nav-link:hover, .navbar-item:hover {
    background-color: #aa3f5c;
}

.nav-link:focus, .navbar-item:focus {
    background-color: #7e2e43;
}